@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .bg-custom-gradient {
    background: linear-gradient(90deg, #3ea2f400, #423ef41a);
    backdrop-filter: blur(5.62px);
  }

  .custom-blur {
    backdrop-filter: blur(10.33px);
  }

  .custom-circle::before {
    content: '';
    position: absolute;
    top: -15px;
    left: 50px;
    width: 7px;
    height: 7px;
    background-color: #ffffff;
    border: 0.7px solid #4eaefd;
    border-radius: 50%;
  }

  @media (min-width: 768px) {
    .custom-circle::before {
      top: -15px;
      left: 50px;
    }
  }

  @media (min-width: 1024px) {
    .custom-circle::before {
      top: -15px;
      left: 50px;
    }
  }
}

body {
  margin: 0;
}
